@font-face {
  font-family: "OldSansBlack";
  src: url("../fonts/OldSansBlack.ttf");
}

@font-face {
  font-family: "Aero";
  src: url("../fonts/Aero.ttf");
}

:root {
  --brand_red: #6a0000;
  --black: "black";
  --white: "white";
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: 100%;
}

body {
  background: #ffffff;
  height: 500vh;
}

.container-fluid {
  max-width: 1140px;
}

.btn-primary-custom {
  background-color: var(--brand_red);
  color: white;
  padding: 20px;
  border-radius: 6px;
}

.header-fixed {
  position: fixed;
  background-color: black;
}

.menu-active {
  color: var(--brand_red) !important;
}

/* button top */
.button-back-top {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  width: 46px;
  height: 46px;
  border-radius: 999px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  right: 40px;
  bottom: 40px;
  cursor: pointer;
  transition: 0.5s all;
}

.button-back-top:hover {
  opacity: 0.6;
}

@media screen and (max-width: 767px) {
  .button-back-top {
    right: 14px;
  }
}
