@font-face {
  font-family: "OldSansBlack";
  src: url("../fonts/OldSansBlack.ttf");
}

@font-face {
  font-family: "Aero";
  src: url("../fonts/Aero.ttf");
}

@font-face {
  font-family: "Revolution";
  src: url("../fonts/REVOLUTION.ttf");
}

:root {
  --primary: #1187b7;
  --black: "black";
  --white: "white";
  --brand_green: #25d366;
  --darkest_gray: #333333;
  --darker_gray: #666666;
  --dark_gray: #999999;
  --brand_gray: #c2c2c2;
  --light_gray: #dddddd;
  --lighter_gray: #eeeeee;
  --lightest_gray: #f5f6f9;
}

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style-type: none;
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: 100%;
}

body {
  background: #ffffff;
}

.container-fluid {
  max-width: 1140px;
}

.btn-primary-custom {
  background-color: var(--primary);
  color: white;
  padding: 20px;
  border-radius: 6px;
}

.header-fixed {
  position: fixed;
  background-color: black;
}

.menu-active {
  color: var(--primary) !important;
}

/* button top */
.button-back-top {
  position: fixed;
  background-color: rgba(0, 0, 0, 0.7);
  width: 46px;
  height: 46px;
  border-radius: 999px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  right: 40px;
  bottom: 40px;
  cursor: pointer;
  transition: 0.5s all;
}

.button-back-top:hover {
  opacity: 0.6;
}

.section-title {
  text-align: center;
  margin-bottom: 40px;
  font-size: 50px;
  font-family: 'Aero';
  color: var(--darkest_gray);
}

@media screen and (max-width: 767px) {
  .button-back-top {
    right: 14px;
  }

  .section-title {
    font-size: 30px;
  }
}

